@charset "utf-8";
/* CSS Document */

body {
	margin:0;	
	font: normal 100%/1 sans-serif;
	background-color:#FFC;
}

form {
	margin:auto;
	width:20em;
	background-color:#ccc;
	padding:2em;
}

h1 {
	margin:0;	
}

h3 {
	margin:0 auto;	
	width:375px;
	text-align:center;
}
form div {
	margin: 20px 0 0 0;	
}

strong {
	color: #F00;
	text-transform:uppercase;	
}

button {
	width:29em;	
	height:10em;
	border-radius: 10px;
	background-color:#fff;
}

fieldset {
	height:auto;
	background-color:#fff;	
}